:root {
    --circulo-hijo: rgba(255, 255, 255, 0.7);
    --liston-info: #FFFFFF;
    --liston-sombra: 5px 10px rgba(0,0,0, 0.2);
    --block-border-r: 22px;
    --block-bg: white;
    --main-color: #ff5722;
  }
  .contenedor{
   width: 500px;
   height: auto;
   position: relative;
  }

  .circulo-padre {
    background-color: #AD0306;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
}

.circulo-hijo {
    background-color:#F1F3F8;
    border-radius: 50%;
    width:435px;
    height: 435px;
    position: absolute;
    top: 35px;
    left: 33px;
}

  .liston-informacion {
    position: relative;
    height: auto ;
    padding-top: 170px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 100px;
    width: 400px;
    background-color: var(--liston-info);
    top: 50px;
    left: 50px;
    border-radius: 190px 190px 190px 190px;
    box-shadow: var(--liston-sombra);
}

.liston-informacion h4{
  color: #AD0306;
}

.liston-informacion p{
    font-size: 16px;
}

.liston-informacion img{
    border-radius: 60%;
    max-height: 150px;
    max-width: 120px;
    position: absolute;
    top: 14px;
    left: 140px;
}

.margin-x-1{
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 992px) {

  .circulo-padre {
    width: 400px;
    height: 400px;
}

.circulo-hijo {
    width:330px;
    height: 330px;
    top: 34px;
    left: 34px;
}

  .liston-informacion {
    padding-top: 170px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 100px;
    width: 300px;
    top: 45px;
    left: 45px;
    margin-bottom: 45px;
}
}

/* Infografia 2 */

.main-card{
  width: 360px;
  height: 400px;
  border-radius: 30px;
  position: relative;
  padding-top: 20px;
}

.main-card h4{
  color: white;
  margin-left: 20px;
}

.child-card{
  background-color: white;
  position: absolute;
  width: 360px;
  height: auto;
  min-height: 70%;
  top: 20%;
  left: -20px;
  border-radius: 5px 40px 40px 5px;
  box-shadow: var(--liston-sombra);
  padding: 7px;
  border-left: solid #EAE9E7 2px;
  align-content: center;
}

.child-card table{
  font-size: 15px;
}

.main-card span{
  background-color: white;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #737085;
  float: right;
  margin-right: 30px;
}

/*---------------------------------------------------------- Infografia 3 */

.card2{
  width: 250px;
  height: auto;
  position: relative;
  padding-bottom: 180px;
  margin: auto;
}

.romb{
  width: 150px; 
  height: 150px; 
  background: rgb(170,207,16);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 12px;
  position: absolute;
  box-shadow: 5px -5px rgba(0,0,0, 0.2);
}

.header-romb{
  width: 185px;
  height: 100px;
  top: 25px;
  left: -5px;
  background-color: white;
  position: absolute;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(0,0,0, 0.2);
}

.header-romb h3{
  float: left;
  position: relative;
  top: 34px;
  left: 15px;
}

.circle-romb {
  background: rgb(8, 236, 57);
  left: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2-info{
  padding: 5px;
  width: 245px;
  position: relative;
  top: 180px;
  left: -35px;
}

.card2-info h5{
  color: #AD0306;
}

.card2-info p{
  font-size: 16px;
}

/*---------------------------------------------------------- Infografia 4 */

.card3 {
  width: 345px;
  height: auto;
  border-radius: var(--block-border-r);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 10px 10px 10px #00000040;
  position: relative;
}

.card-block {
  border-radius: var(--block-border-r);
  background: var(--block-bg);
  width: 100%;
  position: relative;
}

.card-block--bg {
  height: 100%;
  position: absolute;
}

.top-div {
  padding-top: 15px;
  height: 35%;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-div {
  padding-top: 12px;
  height: auto;
  text-align: center;
  border-top-right-radius: 0;
  border-top: none;
  z-index: 13;
}

.ribbon {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73%;
  height: 50px;
  position: relative;
  z-index: 12;
}

.card-ribbon--corner {
  height: 70px;
  width: 60px;
  border-radius: 50px 0 0 22px;
  position: absolute;
}

.card-ribbon-corner--left {
  top: 106px;
  left: -10px;
  z-index: 10;
}

.card-ribbon-corner--right {
  top: 86px;
  right: -10px;
  transform: rotateX(180deg) rotateY(180deg);
  z-index: 10;
}

.ribbon h3{
  color: white;
}

.bottom-div p{
  font-size: 16px;
  text-align: center;
}

.margin-row{
  margin-top: 90px;
}