:root {
    --circulo-hijo: rgba(255, 255, 255, 0.7);
    --liston-info: #FFFFFF;
    --liston-sombra: 5px 10px rgba(0,0,0, 0.2);
  }
  .infografia {
    display: flex;
  }
  .circulo-padre {
    background-color: #AD0306;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: relative
}

.circulo-hijo {
    background-color:#F1F3F8;
    border-radius: 50%;
    width:435px;
    height: 435px;
    position: absolute;
    top: 35px;
    left: 33px;
}

  .liston-informacion {
    position: absolute;
    height: auto ;
    padding-top: 170px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 100px;
    width: 400px;
    background-color: var(--liston-info);
    top: 30px;
    left: 14px;
    border-radius: 190px 190px 190px 190px;
    box-shadow: var(--liston-sombra);
}

.liston-informacion h4{
  color: #AD0306;
}

.liston-informacion p{
    font-size: 16px;
}

.liston-informacion img{
    border-radius: 60%;
    max-height: 150px;
    max-width: 120px;
    position: absolute;
    top: 14px;
    left: 140px;
}

.space{
  padding-bottom: 25rem;
}

.margin-x{
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 768px) {

  p {
    font-size: 14px;
  }
  .circulo-padre {
    background-color: #AD0306;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative
}

.circulo-hijo {
    background-color:#F1F3F8;
    border-radius: 50%;
    width:330px;
    height: 330px;
    position: absolute;
    top: 34px;
    left: 34px;
}

  .liston-informacion {
    position: absolute;
    height: auto ;
    padding-top: 170px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 100px;
    width: 300px;
    background-color: var(--liston-info);
    top: 30px;
    left: 14px;
    border-radius: 190px 190px 190px 190px;
    box-shadow: var(--liston-sombra);
}

.space{
  padding-bottom: 1000px;
}
}

/* Infografia 2 */

.main-card{
  width: 330px;
  height: 400px;
  background: rgb(255,148,60);
  background: linear-gradient(90deg, rgba(255,148,60,1) 0%, rgba(242,112,86,1) 51%, rgba(253,94,112,1) 100%);
  border-radius: 30px;
  position: relative;
  padding-top: 20px;
}

.main-card h4{
  color: white;
  margin-left: 20px;
}

.child-card{
  background-color: white;
  position: absolute;
  width: 330px;
  height: auto;
  min-height: 70%;
  top: 20%;
  left: -20px;
  border-radius: 5px 40px 40px 5px;
  box-shadow: var(--liston-sombra);
  padding: 7px;
  border-left: solid #EAE9E7 2px;
}

.child-card table{
  font-size: 15px;
}

.main-card span{
  background-color: white;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #737085;
  float: right;
  margin-right: 30px;
}

/*---------------------------------------------------------- Infografia 3 */

.card2{
  width: 250px;
  height: 700px;
  position: relative;
}

.romb{
  width: 150px; 
  height: 150px; 
  background: rgb(170,207,16);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 12px;
  position: absolute;
  box-shadow: 5px -5px rgba(0,0,0, 0.2);
}

.header-romb{
  width: 185px;
  height: 100px;
  top: 25px;
  left: -5px;
  background-color: white;
  position: absolute;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(0,0,0, 0.2);
}

.header-romb h3{
  float: left;
  position: relative;
  top: 34px;
  left: 15px;
}

.circle-romb {
  background: rgb(8, 236, 57);
  left: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2-info{
  padding: 5px;
  width: 245px;
  position: relative;
  top: 180px;
  left: -35px;
}

.card2-info h5{
  color: #AD0306;
}

.card2-info p{
  font-size: 16px;
}

/*---------------------------------------------------------- Infografia 4 */

.card3 {
  width: 345px;
  height: 465px;
  position: relative;
}

.top-div {
  width: 100%;
  height: 35%;
  background-color: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 5px 5px rgba(0,0,0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-div {
  padding-top: 48px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 5px 5px rgba(0,0,0, 0.2);
}

.ribbon {
  width: 350px;
  height: 60px;
  position: absolute;
  left: -5px;
  top: 30%;
  border-radius: 30px 8px 30px 8px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribbon h3{
  color: white;
}

.bottom-div p{
  font-size: 16px;
  text-align: center;
}

.margin-row{
  margin-top: 90px;
}